@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Oswald:wght@200..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



/* General Styles ---------------------------------------------------- */
body {
    --background-color: #F4F0Ec;
    --text-color-dark: #242124;
    --text-color-light: #353839;
    --blue-accent-dark: #369ed6;
    --blue-accent-light: #83c8f0;
    --yellow-accent: #fbec5d;

    box-sizing: border-box;

    text-align: left;
    font-size: 20px;
}

* {
    margin: 0px;
    padding: 0px;
}

nav {
    background-color: hsl(from var(--blue-accent-dark) h s calc(l + 10));  
    color: var(--text-color-dark);
    
    text-align: left;
    padding: 8px;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav a {
    color: var(--text-color-dark);
    text-decoration: none;
    font-style: italic;
    
}

section {
    margin: 48px 0px;
}

h1 {
    font-size: 32px;
    font-weight: bold;   
    line-height: 36px;
    margin-bottom: 16px;
    text-align: center;
}

h2 {
    padding-bottom: 16px;
    font-size: 32px;
}

.project-overview img, .result img {
    display: block;
}

p {
    padding-left: 0px;
}

button {
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 30px;
}

/* Specific Styles ---------------------------------------------------- */

.project-hero {
    aspect-ratio: 16 / 9;
    width: 100vw;
    object-fit: contain; 
    background-image: radial-gradient(circle at center, var(--text-color-light), var(--text-color-dark));
}

.project-meta-description {
    background-color: var(--text-color-dark);
    color: var(--blue-accent-dark);
    padding: 16px 32px;
    
}

.project-meta-description ul {
    list-style: none;
}

.project-meta-description ul li {
    margin-bottom: 16px;
}

.project-meta-description ul li:last-child {
    margin-bottom: 0;
}

.project-meta-description ul li p:first-child {
    color: var(--blue-accent-light);
    padding-bottom: 4px;
    text-decoration-line: underline;
}

.project-meta-description a {
    color: var(--yellow-accent);
    text-decoration: none;
}

.project-meta-description a::after {
    content: " ↗";
    font-size: 14px;
    vertical-align: top;
}

section:not(.project-overview) {
    padding: 0 16px;
}

section:not(.project-overview) p {
    padding: 0 8px;
}

.project-problem p {
    font-size: 20pt;
    font-style: italic;
}

.solution p {
    text-wrap: balance;
    text-wrap: pretty;
}

.solution p:nth-of-type(2) {
    padding-top: 20px;
}

.result-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px; 
}

.result-header h2 {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.result-navigation {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    height: 32px;
    align-items: center;
}

.result-navigation a {
    color: var(--text-color-light);
    background-color: var(--yellow-accent);
    padding: 0px 12px;
    text-decoration: none;
}

.result-carousel::-webkit-scrollbar {
    display: none;
}

.result-carousel {
    display: flex;
    gap: 16px;
    width: calc(100vw - 32px);
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;    
    scrollbar-width: none;
    scrollbar-gutter: stable;
}

.result-carousel img {
    width: 100%;
    aspect-ratio: 1 / 1.25;
    object-fit: cover;    
    scroll-snap-align: center;
}

.next-project {
    text-align: right;
}

.next-project a {
    color: var(--text-color-dark);
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    font-size: 20pt;
}

footer {
    margin-top: 64px;
}

@media screen and (min-width: 768px) { /* Tablet and above */
    
    /* General styles */

    nav {
        padding: 8px;
    }

    nav ul a {
        font-size: 32px;
    }

    h1 {
        font-size: 40px;
        line-height: 60px;
    }

    h2 {
        font-size: 40px;
    }

    p {
        font-size: 24px;
    }

    .project-hero {
        aspect-ratio: 16 / 9;
    }

    .project-meta-description {
        padding: 16px;
    }

    .project-meta-description ul {
        display: flex;
        justify-content: space-evenly;
    }

    .project-meta-description li:first-of-type {
        max-width: 25%;
    }

    .project-meta-description li:nth-of-type(2) {
        max-width: 50%;
    }

    .project-meta-description p {
        padding: 0px;
    }

    .project-problem p {
        font-size: 30px;
    }

    .result-navigation {
        font-size: 35px;
        gap: 16px;
    } 

    .result-navigation a {
        padding: 0px 32px;
    }

    .result-carousel img {
        aspect-ratio: 16 / 9;
    }

    .next-project a {
        font-size: 30px;
    }
}

@media screen and (min-width: 1400px) {
    nav {
        padding-left: 16px;
    }

    nav ul a {
        font-size: 24px;
    }

    h1 {
        font-size: 75px;
        line-height: 80px;
    }

    .project-hero {
        aspect-ratio: 21 / 7;
    }

    .project-meta-description p {
        width: 100%;
    }

    .project-meta-description li:nth-of-type(2) {
        width: 25%;
    }

    section:not(.project-overview) {
        padding: 0 32px;
    }

    p {
        width: fit-content;
    }

    section:not(.project-overview) p {
        padding: 0 48px;
        text-align: justify;

    }

    .result-carousel {
        width: calc(100vw - 2 * (48px + 32px));
        overflow-x: scroll;
        margin: 0 48px;
        
    }

    .result-carousel img {
        aspect-ratio: 16 / 9;
        width: 50%;
        scroll-snap-align: start;
    }
}